services:
  basimbot:
    image: abrlkv/bashimbot
    restart: always
    environment:
      - API_TOKEN=Telegram API token
      - USER_AGENT=Mozilla/5.0 (Windows; U; Windows NT 5.1; de; rv:1.9.1.5) Gecko/20091112 Firefox/3.5.5